*.pyc
/classes/*.pyc
/classes/cards/*.pyc
/classes/controllers/*.pyc
/classes/events/*.pyc
/classes/screens/*.pyc
/classes/models/*.pyc
/classes/util/*.pyc
/classes/views/*.pyc

game.events.log

# PyCharm project files
*.iml
.idea/